.menu-section {
    font-size: 20px;
    display: flex;
    justify-content: space-between;
}

.sidebar-option {
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    cursor: pointer;
    padding: 10px;
    margin-top: 10px;
    border-radius: 30px;
    font-size: 14px;
    border: 1px solid rgb(206, 206, 206);
    gap: 10px;
    color: rgb(90, 87, 87)
        /* text-align: center; */
}